{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block top %}
<div class="d-flex justify-content-center">
<a href="{{ path('app_home') }}"><img src="img/logo.jpg" width="100" alt="" class="d-inline-block align-middle mr-2"/></a>
    <div class="">
        <p class="fs-3 txt mx-1"style="margin-top: -10px">Création Ecolo  </p>
        <p class="fs-6 txt mx-2" style="margin-top: -25px">Artisanat marocain 100% fait main  </p>
        <p class="fs-6 mx-2" style="margin-top: -20px">Votre Boutique en ligne  </p>
        <p class="fs-6 mx-2" style="margin-top: -20px">Commandez Maintenant  </p>
    </div>
</div>

{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
</div>

{% endblock %}
