{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
<div class="container  text-dark">
    <h1 class="txt">Nouveau Produit</h1>
    {{ include('products/_form.html.twig') }}
    <a class="btn btn-primary"href="{{ path('app_products_index') }}">Retour</a>
</div>
{% endblock %}
