{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
<div class="container text-dark">
    <h1 class="txt">Nouvelle Categorie</h1>
    {{ include('category/_form.html.twig') }}
    <a class="btn btn-primary mx-1" href="{{ path('app_category_index') }}">Retour</a>
</div>
{% endblock %}
