{% extends 'base.html.twig' %}

{% block title %}Modifier Menu {% endblock %}

{% block body %}
<div class="container text-dark">
    <h1 class="txt">Modifier Menu</h1>
    {{ include('menu/_form.html.twig', {'button_label': 'Appliquer'}) }}
    <a class="btn btn-primary"href="{{ path('app_menu_index') }}">Retour</a>
    {{ include('menu/_delete_form.html.twig') }}
</div>
{% endblock %}
