{% extends 'base.html.twig' %}

{% block title %}Nouveau Menu{% endblock %}

{% block body %}
<div class="container text-dark">
    <h1 class="txt">Nouveau Menu</h1>
    {{ include('menu/_form.html.twig') }}
    <a class="btn btn-primary"href="{{ path('app_menu_index') }}">Retour</a>
</div>
{% endblock %}
