{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<div class="container ">
    <h1 class="txt">Menu</h1>
    <table class="table text-dark">
        <tbody>
            <tr>
                <th>Position</th>
                <td>{{ menu.numbre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ menu.image }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mx-1" href="{{ path('app_menu_index') }}">Retour</a>
</div>
{% endblock %}
