<footer class="text-center bg-dark fixed-bottom">
    <div class="text-center">
        <a class="text-secondary text-decoration-none mx-2" href="#">Conditions générales de vente</a>
        <a class="text-secondary text-decoration-none mx-2" href="#">Partenariats</a>
        <a class="txt text-decoration-none mx-2 bold" href="#">Contact</a>
    </div>
</footer>