{% for menu in menus |sort((a, b) => a.numbre <=> b.numbre) %}

<li class="nav-item dropdown mt-2">
    <a  class="nav-link dropdown-toggle text-dark fond1 txtFont2 mx-2"  
        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ menu.name }}
    </a>
    <ul class="dropdown-menu fond1" aria-labelledby="navbarDropdown">
            {% for cat in cats %}
                {% if cat.menu == menu.name %}
                <a class="dropdown-item fond1 text-dark text-center text-decoration-none "aria-current="page" 
                    href="{{ path('app_category_show',{'id': cat.id}) }}">
                    {{ cat.name }}</a>
                
                {% endif %}
            {% endfor %}
    </ul>
</li>

{% endfor %}

